nav{
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

ul li{
    list-style-type: none; 
}

li .search{
    width: 800px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #33333318!important;
    outline: none;
}

li .search::placeholder{
    color : var(--text-color);
}

ul .info-user{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-user .name{
    color : var(--text-color);
    font-size: 0.85rem;
}
